@model Assignment_3rd_run.ViewModels.RatingViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>How Our Visitors Rated Us</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.store1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.store2)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.rating1) / 100
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.rating2) / 100
        </td>
    </tr>


</table>

<div><p>&nbsp;</p></div>
<div><p>&nbsp;</p></div>

<div class="row">
    <p></p>
    <p><a href="/Events/Index" class="btn btn-default">New Appointment &raquo;</a></p>
</div>


<div class="row">
    <p></p>
    <p><a href="/AppointmentHistories/MyAppointments" class="btn btn-default">View Appointment History &raquo;</a></p>
</div>
