@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-4 col-sm-8 col-md-6">
        <img src="~/Images/night.jpg"
             width="1140"
             height="200" />
    </div>

</div>

<div class="jumbotron">
    <h1>Whippet.org</h1>
    <p class="lead">Whippet, your daily fake news channel.</p>
    <p>Join us from $0.99/month</p>
    <p><a href="/Memberships/Index" class="btn btn-primary btn-lg">Subscribe &raquo;</a></p>
</div>




<div class="row">
    <div class="col-lg-8 col-sm-8 col-md-6">
        <div class="card" style="width: 30rem;">
            <img src="~/Images/Hi.jpg"
                 width="750"
                 height="450"
                 class="rounded"/>
            
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-8 col-md-6">
        <div class="card" style="width: 25rem;">
            <img src="~/Images/market.jpg"
                 width="330"
                 height="200" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>
</div>

<div><p>&nbsp;</p></div>

<div class="row">
    <div class="col-lg-4 col-sm-8 col-md-6">
        <div class="card" style="width: 25rem;">
            <img src="~/Images/rainbow.jpg"
                 width="300"
                 height="200" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-8 col-md-6">
        <div class="card" style="width: 25rem;">
            <img src="~/Images/UO.jfif"
                 width="300"
                 height="200" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-8 col-md-6">
        <div class="card" style="width: 25rem;">
            <img src="~/Images/Hello.jpg"
                 width="300"
                 height="200" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>

</div>

<div><p>&nbsp;</p></div>

<div class="row">
    <div class="col-lg-4 col-sm-8 col-md-6">
        <img src="~/Images/night.jpg"
             width="1100"
             height="300" />
    </div>

</div>




    @*<img srcset="~/Images/Hi-320w.jpg 320w,
                ~/Images/Hi-640w.jpg 640w,
                ~/Images/Hi.jpg 1000w "
        sizes="(max-width: 600px) 320px,
               (max-width: 800px) 640px,
               1000px"
        src="~/Images/Hi.jpg">*@
